<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main"} -->
<main id="main-content" class="wp-block-group" role="main">
  <!-- wp:heading {"level":1} --> <h1>Pagina non trovata</h1> <!-- /wp:heading -->
  <!-- wp:paragraph --> <p>La pagina che cerchi non esiste. Prova a effettuare una ricerca.</p> <!-- /wp:paragraph -->
  <!-- wp:search {"label":"Cerca","showLabel":false,"buttonText":"Cerca"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->