<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","className":"site-header"} /-->

<main id="main-content" class="alignwide" role="main">
  <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date"},"displayLayout":{"type":"grid","columns":3},"layout":{"type":"constrained"}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
      <!-- wp:group {"className":"single"} -->
      <div class="wp-block-group single">
        <!-- wp:post-featured-image {"isLink":true} /-->
        <!-- wp:post-title {"level":3,"isLink":true} /-->
        <!-- wp:post-date {"format":"j F Y"} /-->
        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-excerpt {"moreText":""} /-->
        <!-- wp:read-more {"content":"Leggi l’articolo","className":"wp-element-button"} /-->
      </div>
      <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-numbers /-->
      <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</main>

<!-- wp:template-part {"slug":"footer-top","area":"footer"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->