<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","className":"site-header"} /-->

<main id="main-content" class="alignwide" role="main">
  <!-- wp:post-title {"level":1} /-->
  <!-- wp:post-featured-image {"align":"wide"} /-->
  <!-- wp:post-content /-->

  <!-- wp:separator {"opacity":"css"} -->
  <hr class="wp-block-separator has-css-opacity"/>
  <!-- /wp:separator -->

  <!-- wp:post-author-name {"isLink":true} /-->
  <!-- wp:post-date {"isLink":true} /-->
  <!-- wp:post-terms {"term":"category","prefix":"Categorie: "} /-->
  <!-- wp:post-terms {"term":"post_tag","prefix":"Tag: "} /-->

  <!-- wp:separator {"opacity":"css"} -->
  <hr class="wp-block-separator has-css-opacity"/>
  <!-- /wp:separator -->
  <!-- wp:post-navigation-link {"type":"previous","label":"← Post precedente"} /-->
  <!-- wp:post-navigation-link {"type":"next","label":"Post successivo →"} /-->

  <!-- wp:comments /-->
</main>

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->